<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>navbar2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
<!--    <link rel="stylesheet" th:href="@{/css/commonStyle.css}"/>-->

</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-sm justify-content-start">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <img src="/images/logo1.png" alt="company logo" class="logo">
                    <li class="nav-item mx-3">
                        <a class="nav-link" th:href="@{index}" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" th:href="@{aboutus}" style="color: white;">About</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" th:href="@{products}" style="color:white;">Product</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" th:href="@{index#reviews}" style="color:white;">Review</a>
                    </li>
                    <form class="d-flex justify-content-between mx-3 search" role="search">
                        <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success search" type="submit" style="color: white;">Search</button>
                      </form>

                </ul>

                <div sec:authorize="isAuthenticated()">
                    <form id="logOut" th:action="@{/logout}" method="post">
                        <li class="nav-item" style="list-style-type: none"><a class="nav-link" onclick="document.getElementById('logOut').submit();"> Log Out </a></li>
                    </form>
                </div>

                <div sec:authorize="isAnonymous()">
                    <li class="nav-item" style="list-style-type: none"><a class="nav-link" th:href="@{login}"> Login </a>
                    </li>
                </div>


            </div>
        </div>
    </nav>
    <div th:fragment="banner" class="banner">
        <p>Free Delivery for Local Orders Above $299!</p>
      </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>