
.container-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-link {
  display:flex;
  flex-direction: row;
  margin: 10px 0;
  padding:5px 10px;
  border-radius: 15px;

}


.footer-link a{
  font-weight: bold;
  text-decoration:none;
  background-color:none ;
  color:black;

}

.footer-link button:hover {
  background-color:#cbd3b7;
}

.imageIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.footercss {
  background-color: #8F9779;
}

.newsletter {
  display: flex;
  align-items: center;
}

.copyRight {
  display: flex;
  justify-content: center;
}

.stayConnectedHeading {

  margin-top: 6px;
}


.mailingListDesc {
  font-size: 12px;
  padding-top: 4px;
}

.newsletter {
  display: flex;
  justify-content: center;
}



@media screen and (max-width: 768px) {

  .copyRight {
    display: none;
  }





}